extends ../../adminContentLayout

block content
	section.content-header
		ol.breadcrumb
			li
				i.fa.fa-dashboard
				| &nbsp;&nbsp;
				a.text-info(href="/admin/index") 首页
			li
				a.text-info(href="/admin/connectus/view") 联系我们
			li.active=title
	section.content
		.container
			form#addForm.form-horizontal(role="form", method="post", action="/admin/connectus/save")
				if connectus._id
					input(type="hidden", name="connectus[_id]", value=connectus._id)
				.form-group
					label.col-sm-2.control-label 电话
					.col-sm-10
						input.form-control#tel(type="text", placeholder="联系方式", name="connectus[tel]", value=connectus.tel)
				.form-group
					label.col-sm-2.control-label 地址
					.col-sm-10
						input.form-control#address(type="text", placeholder="联系地址", name="connectus[address]", value=connectus.address)
				.form-group
					label.col-sm-2.control-label 邮箱
					.col-sm-10
						input.form-control#email(type="text", placeholder="联系邮箱", name="connectus[email]", value=connectus.email)
				.form-group
					label.col-sm-2.control-label 简介
					.col-sm-10
						textarea.form-control#content(placeholder="公司简介", rows="3", name="connectus[content]") #{connectus.content}
				.form-group
					.col-sm-offset-2.col-sm-10
						button.btn.btn-success.btn-flat#sub(type="submit") 录入
	script(src="/libs/admin-lte/plugins/ckeditor/ckeditor.js")
	script(src="/js/connectusForm.js", defer="defer")
