extends ../../adminContentLayout

block content
	section.content-header
		ol.breadcrumb
			li
				i.fa.fa-dashboard
				| &nbsp;&nbsp;
				a.text-info(href="/admin/index") 首页
			li.active=title
	section.content
		.row
			.col-xs-12
				.box
					.box-header.with-border
						h3.box-title 资讯列表
						.box-tools
							.btn-toolbar
								a.btn.btn-success.btn-flat.btn-xs#add(href="/admin/news/new") 新增
								button.btn.btn-warning.btn-flat.btn-xs#update(type="button", data-href="/admin/news/update/") 修改
								a.btn.btn-info.btn-flat.btn-xs#tagManage(href="/admin/news/category") 标签管理
								button.btn.btn-danger.btn-flat.btn-xs#del 删除
					.box-body
						input#onItems(type="hidden", value="#{onitems}")
						table#newsTable.table.table-hover.table-bordered.table-condensed
							thead
								tr
									th(width=22)
										input#allCheck(type="checkbox", class="i-checks")
									th 标题
									th 作者
									th 阅读量
									th 分类
									th 创建时间
									th 首页展示
							tbody.datalist
								each item in news
									tr
										td
											input(type="checkbox", class="i-checks", value=item._id)
										td #{item.title}
										td #{item.author}
										td #{item.hits}
										td
											if item.category && item.category.length > 0
												each tag in item.category
													span.label.label-info #{tag.name}
													| &nbsp;
											else
												| 未分类
										td #{moment(item.meta.updateAt).format('YYYY/MM/DD HH:mm:ss')}
										td
											if item.displayindex
												input.i-switch(type="checkbox", checked, data-size="mini", data-on-color="success", data-id="#{item._id}")
											else
												input.i-switch(type="checkbox", data-size="mini", data-on-color="success", data-id="#{item._id}")
	script(src="/js/newsList.js", defer="defer")