extends ../../adminContentLayout

block content
	section.content-header
		ol.breadcrumb
			li
				i.fa.fa-dashboard
				| &nbsp;&nbsp;
				a.text-info(href="/admin/index") 首页
			li.active=title
	section.content
		.row
			.col-xs-12
				.box
					.box-header.with-border
						h3.box-title 舞美设备列表
						.box-tools
							.btn-toolbar
								a.btn.btn-success.btn-flat.btn-xs#add(href="/admin/stage/new") 新增
								button.btn.btn-warning.btn-flat.btn-xs#update(type="button", data-href="/admin/stage/update/") 修改
								a.btn.btn-info.btn-flat.btn-xs#tagManage(href="/admin/stage/category") 类型管理
								button.btn.btn-danger.btn-flat.btn-xs#del 删除
					.box-body
						input#onItems(type="hidden", value="#{onitems}")
						table#stageTable.table.table-hover.table-bordered.table-condensed
							thead
								tr
									th(width=22)
										input#allCheck(type="checkbox", class="i-checks")
									th 设备名称
									th 价格
									th 图片
									th 类型
									th 添加时间
							tbody.datalist
								each item in stage
									tr
										td
											input(type="checkbox", class="i-checks", value=item._id)
										td #{item.name}
										td #{item.price}
										td
											img.thumImg(src="#{item.pic}", width="100px", height="22px")
										td
											if item.category && item.category.length > 0
												each tag in item.category
													span.label.label-info #{tag.name}
													| &nbsp;
											else
												| 未分类
										td #{moment(item.meta.updateAt).format('YYYY/MM/DD HH:mm:ss')}
	script(src="/js/stageList.js", defer="defer")