extends ../../adminContentLayout

block content
	section.content-header
		ol.breadcrumb
			li
				i.fa.fa-dashboard
				| &nbsp;&nbsp;
				a.text-info(href="/admin/index") 首页
			li
				a.text-info(href="/admin/webstar/list") 网红资源
			li.active=title
	section.content
		.row
			.col-xs-12
				.box
					.box-header.with-border
						h3.box-title 网红标签列表
						.box-tools
							.btn-toolbar
								a.btn.btn-success.btn-flat.btn-xs#tagCategory(href="/admin/webstar/categorytag/list") 标签分类
								button.btn.btn-warning.btn-flat.btn-xs#update(type="button", data-href="/admin/webstar/category/update/") 更新
								button.btn.btn-danger.btn-flat.btn-xs#del 删除
					.box-body
						table#webstarTable.table.table-hover.table-bordered.table-condensed
							thead
								tr
									th(width=22)
										input#allCheck(type="checkbox", class="i-checks")
									th 标签名称
									th 网红
									th 创建时间
							tbody.datalist
								each tag in category
									tr
										td
											input(type="checkbox", class="i-checks", value=tag._id)
										td #{tag.name}
										td
											if tag.webstar && tag.webstar.length > 0
												each item in tag.webstar
													span.label.label-info #{item.name}
													| &nbsp;
											else
												| 未添加案例
										td #{moment(tag.meta.updateAt).format('YYYY/MM/DD HH:mm:ss')}
	script(src="/js/webstarCategoryList.js", defer="defer")