extends ../../adminContentLayout

block content
	section.content-header
		ol.breadcrumb
			li
				i.fa.fa-dashboard
				| &nbsp;&nbsp;
				a.text-info(href="/admin/index") 首页
			li
				a.text-info(href="/admin/wemedia/list") 新微媒体
			li.active=title
	section.content
		.row
			.col-xs-12
				.box
					.box-header.with-border
						h3.box-title 微信资源列表
						.box-tools
							.btn-toolbar
								a.btn.btn-success.btn-flat.btn-xs#add(href="/admin/wemedia/wechat/new") 新增
								button.btn.btn-warning.btn-flat.btn-xs#update(type="button", data-href="/admin/wemedia/wechat/update/") 修改
								a.btn.btn-info.btn-flat.btn-xs#tagManage(href="/admin/wemedia/wechat/category") 标签管理
								button.btn.btn-danger.btn-flat.btn-xs#del 删除
					.box-body
						table#wechatTable.table.table-hover.table-bordered.table-condensed
							thead
								tr
									th(width=22)
										input#allCheck(type="checkbox", class="i-checks")
									th 名称
									th 粉丝数
									th 头条阅读
									th 二条阅读
									th 标签
									th 图片
							tbody.datalist
								each item in wechat
									tr
										td
											input(type="checkbox", class="i-checks", value=item._id)
										td #{item.name}
										td #{item.funs}
										td #{item.firstRead}
										td #{item.secondRead}
										td
											if item.category && item.category.length > 0
												each tag in item.category
													span.label.label-info #{tag.name}
													| &nbsp;
											else
												| 未添加标签
										td
											img.thumImg(src="#{item.pic}", width="100px", height="22px")
	script(src="/js/wechatList.js", defer="defer")